<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sexy.kome.core.ds.operator.dao.OperatorMapper">
    <select id="find" parameterType="long" resultType="sexy.kome.core.ds.operator.model.Operator">
        select * from operator where id = #{id}
    </select>
</mapper>