<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sexy.kome.spider.mapper.SpiderFileMapper">
    <resultMap id="SpiderFileMap" type="sexy.kome.spider.model.SpiderFile">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="fromDocUrl" column="from_doc_url"/>
        <result property="md5" column="md5"/>
        <result property="fileIdentifier" column="file_identifier"/>
        <result property="size" column="size"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="lookupBySimple" parameterType="sexy.kome.spider.model.SpiderFile" resultMap="SpiderFileMap">
        select id, type, from_doc_url, substring_index(file_identifier, '.', 1) md5, file_identifier, size, create_time, update_time from spider_file
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="type != null">and type = #{type}</if>
            <if test="fromDocUrl != null">and from_doc_url #{fromDocUrl}</if>
            <if test="md5 != null">and substring_index(file_identifier, '.', 1) like concat('%',#{md5},'%')</if>
            <if test="fileIdentifier != null">and file_identifier = #{fileIdentifier}</if>
        </where>
    </select>

    <insert id="save" parameterType="sexy.kome.spider.model.SpiderFile" useGeneratedKeys="true" keyProperty="id">
        insert into spider_file(type, from_doc_url, file_identifier, size, create_time)
        values (#{type}, #{fromDocUrl}, #{fileIdentifier}, #{size}, now())
    </insert>
</mapper>